body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to right, #ccefff, #ffffff);
}

#aquarium {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.creature {
  position: absolute;
  animation: bounce 10s linear infinite;
}

.creature img {
  width: 100px;
  height: auto;
}

/* Specific Delays for Different Creatures */
#shark { animation-delay: 0s; }
#turtle { animation-delay: 2s; }
#diver1 { animation-delay: 4s; }
#diver2 { animation-delay: 6s; }
#diver3 { animation-delay: 8s; }
#faintSchool { animation-delay: 1s; }
#goldFishSchool { animation-delay: 3s; }

@keyframes bounce {
  0% {
    left: 0; top: 0; transform: scaleX(1);
  }
  25% {
    left: calc(100vw - 100px); top: 0; transform: scaleX(1);
  }
  50% {
    left: calc(100vw - 100px); top: calc(100vh - 100px); transform: scaleX(-1);
  }
  75% {
    left: 0; top: calc(100vh - 100px); transform: scaleX(-1);
  }
  100% {
    left: 0; top: 0; transform: scaleX(1);
  }
}
.btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.btn-container button {
  margin-left: 10px;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #005fa3;
}
